*,
*:focus,
*:active {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	outline: none;
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
	src: url(../fonts/Montserrat-Regular.woff) format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
	src: url(../fonts/Montserrat-Medium.woff) format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
	src: url(../fonts/Montserrat-SemiBold.woff) format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
	src: url(../fonts/Montserrat-Bold.woff) format("woff");
}

$color_black: #444444;
$color_yellow:#FFC02D;
$color_green:#35A94C;
$color_grey:#FAFAFA;
$transition: all 0.2s ease;

html,
body {
	max-height: 100%;
}

body {
	background: #fff;
}

body,
form,
table {
	font: normal normal 14px/18px "Montserrat", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 140%;
	color: $color_black;
	margin: 0;
	padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	color: $color_black;
	margin: 0;
	font-weight: 700;
}

h1,
h2 {
	font-size: 48px;
	line-height: 115%;
}

h1 {
	margin-bottom: 40px;
}

h2 {
	margin-bottom: 32px;
}

h3 {
	font-size: 40px;
	line-height: 161%;
	margin-bottom: 32px;
}

h4 {
	font-size: 31px;
	line-height: 170%;
	margin-bottom: 20px;
}

p {
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $color_black;
	outline: none;
	display: inline-block;
	transition: $transition;

	&:hover {
		text-decoration: none;
		color: $color_yellow;
	}
}

iframe {
	border: none;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

input,
textarea,
select,
button {
	font-family: "Montserrat", sans-serif;
}

.text_center {
	text-align: center !important;
}

.text_left {
	text-align: left !important;
}

.text_right {
	text-align: right !important;
}

.bg_grey {
	background: $color_grey;
	padding-top: 80px;
	padding-bottom: 80px;

	.block_list {
		margin-bottom: -40px;
	}

	.block_item_text {
		background: $color_grey;
	}
}

@media screen and (max-width:992px) {
	.bg_grey {
		.block_list {
			margin-bottom: -20px;
		}
	}
}

@media screen and (max-width:768px) {
	.bg_grey {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 16px;
}

@media screen and (min-width:768px) {
	.container {
		padding: 0 32px;
	}
}

@media screen and (min-width:1200px) {
	.container {
		max-width: 1600px;
	}
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px 20px 16px;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 115%;
	color: $color_black;
	margin: 0;
	cursor: pointer;
	border: 1px solid $color_yellow;
	transition: $transition;
	background: $color_yellow;
	border-radius: 5px;
	text-transform: inherit;
	position: relative;

	&.disabled,
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&:hover {
		background: #ffb300;
		color: $color_black;
	}

}

.btn_big {
	font-size: 18px;
	line-height: 102.222%;
	padding: 24px 50px;
}

.btn_opacity {
	background: transparent;
	color: $color_yellow;

	&:hover {
		color: $color_yellow;
		background: $color_yellow;
	}
}

.btn_grey {
	border-color: #EDEDED;
	background: #EDEDED;

	&:hover {
		background: $color_yellow;
		color: $color_black;
	}
}

@media screen and (max-width:576px) {
	.btn {
		padding: 13px 13px;
		font-size: 15px;
	}
}

.link {
	color: $color_yellow;
	padding: 6px 0;
	font-weight: 500;
	border-bottom: 1px solid $color_yellow;

	&:hover {
		color: #ffb300;
		border-bottom-color: #ffb300;
	}
}

.subtitle {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 40px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.title_wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
	column-gap: 26px;

	h2,
	h3,
	h4 {
		margin-bottom: 0;
	}
}

.section {
	margin-bottom: 80px;
}

.last_letter_color {
	&::first-letter {
		color: $color_yellow
	}
}

.mb-4 {
	margin-bottom: 40px;
}

.mb-8 {
	margin-bottom: 80px;
}

.mb-10 {
	margin-bottom: 100px;
}

/*----form-----*/
form {
	.btn {
		width: 100%;
	}
}

.form_agreement {
	margin-top: 27px;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 90%;
	line-height: 120%;
}

.form_input_group {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

	&.error {
		.text_error {
			display: block;
		}

		.form_input {
			border: 1px solid red;

			&::-webkit-input-placeholder {
				color: red;
			}

			&:-moz-placeholder {
				color: red;
			}

			&::-moz-placeholder {
				color: red;
			}

			&:-ms-input-placeholder {
				color: red;
			}

			&::-ms-input-placeholder {
				color: red;
			}

			&::placeholder {
				color: red;
			}
		}
	}
}



.form_input_caption {
	line-height: 121%;
}

.form_input_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.text_error {
	font-size: 13px;
	color: red;
	margin-top: 2px;
	display: none;
}

.form_input {
	border-radius: 5px;
	border: 1px solid rgba(68, 68, 68, 0.27);
	background: #FFF;
	padding: 13px 11px;
	font-size: 18px;
	font-weight: 600;
	height: 48px;
	width: 100%;

	&::-webkit-input-placeholder {
		color: rgba(68, 68, 68, 0.53);
	}

	&:-moz-placeholder {
		color: rgba(68, 68, 68, 0.53);
	}

	&::-moz-placeholder {
		color: rgba(68, 68, 68, 0.53);
	}

	&:-ms-input-placeholder {
		color: rgba(68, 68, 68, 0.53);
	}

	&::-ms-input-placeholder {
		color: rgba(68, 68, 68, 0.53);
	}

	&::placeholder {
		color: rgba(68, 68, 68, 0.53);
	}
}

/*----breadcrumb-----*/
.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 16px;
}

.breadcrumb_link {
	font-size: 16px;
	font-weight: 400;
	line-height: 115%;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

.breadcrumb_item {
	display: flex;
	align-items: center;
}

span.breadcrumb_link {
	color: $color_yellow;
}

.breadcrumb_pipe {
	padding: 0 5px;
	font-size: 16px;
	font-weight: 400;
	line-height: 115%;
}

.header {
	padding: 40px 0 44px;
	position: relative;
	width: 100%;
}

@media screen and (min-width:1101px) {
	.header {
		position: fixed;
		top: 0;
		z-index: 70;
		background: #fff;
		border-bottom: 1px solid transparent;

		&.fix {
			border-bottom-color: rgb(170 170 170 / 49%);
			padding: 20px 0 20px;
		}
	}
}

.home_block {
	margin-bottom: 20px;
}

@media screen and (max-width:1100px) {
	.home_block {
		padding-top: 0 !important;
	}
}

.logo {
	height: 130px;
	width: 154px;
	margin-right: 22px;

	img {
		max-height: 100%;
		object-fit: contain;
	}
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;

	a {
		font-size: 16px;
		font-weight: 600;
		padding: 22px;
		transition: $transition;

		&.active {
			color: $color_yellow;
		}

		&:hover {
			color: $color_yellow;
		}
	}

}

.header_row {
	display: flex;
	align-items: center;
}

.header_link {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: auto;

	a {
		text-decoration-line: underline;
		line-height: 115%;

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
}

.header_link_mobile {
	display: none;
}

/*----home-----*/
.page_home {
	.mobile_menu_block {
		background: $color_black;
		padding-top: 33px;
	}

	.mobile_menu_btn,
	.mobile_menu_close {
		span {
			background: #fff;

			&:before,
			&:after {
				background: #fff;
			}
		}
	}

	.mobile_menu_close {
		margin-right: 17px;
		position: relative;
		top: initial;
		right: initial;
	}

	.mobile_menu_close span {
		background: transparent;
	}

	.logo {
		height: 66px;
	}

	.header {
		border-bottom: 1px solid rgba(254, 254, 254, 0.49);
		background: rgba(50, 50, 50, 0.56);
		backdrop-filter: blur(10px);
		padding-top: 33px;
		padding-bottom: 37px;
	}

	.menu {
		a {
			color: #fff;

			&.active {
				color: $color_yellow;
			}

			&:hover {
				color: $color_yellow;
			}
		}
	}

	.header_link {
		flex-direction: row;
		align-items: center;

		a {
			color: #fff;
			font-weight: 600;

			&:not(:last-child) {
				margin-bottom: 0;
				margin-right: 30px;
			}

			&:hover {
				color: $color_yellow;
			}
		}
	}

	.home_block {
		background-image: url(../imgs/home_img.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		margin-bottom: 100px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: #000000;
			opacity: 0.4;
		}
	}

	h1 {
		color: #FFF;
		font-size: 60px;
		line-height: 92%;
		margin-bottom: 40px;
		max-width: 600px;
		width: 100%;
	}
}

.home_info {
	position: relative;
	z-index: 1;
	padding-top: 64px;
	padding-bottom: 73px;
	display: flex;
	justify-content: space-between;

	.btn_opacity {
		background: rgba(50, 50, 50, 0.56);
		backdrop-filter: blur(15px);

		&:hover {
			color: $color_black;
			background: $color_yellow;
		}

	}
}

.home_info_left {
	padding-top: 112px;

	.btn {
		margin-bottom: 20px;

		&:not(:last-of-type) {
			margin-right: 26px;
		}
	}
}

.home_list {
	color: #FFF;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 33px;

	li {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		&:before {
			content: '';
			display: block;
			position: relative;
			width: 50px;
			height: 4px;
			background: $color_yellow;
			margin-bottom: 7px;
		}
	}
}

.home_calc {
	border-radius: 10px;
	border: 1px solid rgba(254, 254, 254, 0.49);
	background: rgba(50, 50, 50, 0.56);
	backdrop-filter: blur(15px);
	padding: 30px 40px;
	max-width: 554px;
	width: 100%;

	.form_input {
		border-color: transparent;
		text-align: center;
	}

	.form_input_wrapper {
		max-width: 232px;
	}

	.form_input_group {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}

	.form_input_caption {
		font-size: 18px;
		font-weight: 500;
		color: #fff;
		padding-right: 20px;
	}

	.form_agreement {
		color: #fff;
	}

	.btn {
		padding: 24px 40px;
	}
}

.home_calc_title {
	color: #FFF;
	text-align: center;
	font-size: 38px;
	font-weight: 700;
	line-height: 145.263%;
	margin-bottom: 30px;
}

.home_calc_hr {
	width: 100%;
	height: 1px;
	background: #FFF;
	margin-bottom: 30px;
	margin-top: 30px;
}

.home_calc_list {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 26px;
	margin-top: 47px;
	line-height: 120%;

	li {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		span {
			display: inline-block;
		}
	}
}

.home_calc_list_title {
	max-width: 245px;
	padding-right: 10px;
}

.home_calc_list_price {
	font-size: 20px;
	font-weight: 600;
	color: $color_yellow;
}

@media screen and (min-width:992px) {
	.block_list_col-3 {
		.block_col {
			width: 33.33%;
		}
	}
}

.block_list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;

	&_grey_img {
		.block_item {
			img {
				filter: grayscale(1);
			}

			&:hover {
				img {
					filter: grayscale(0)
				}
			}
		}
	}

	&_grey {
		.block_item {
			filter: grayscale(1);

			&:hover {
				filter: grayscale(0)
			}
		}
	}

	.block_item {
		height: 0;
		overflow: hidden;
		padding-bottom: clamp(194px, 55%, 400px);
		position: relative;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			top: 0;
			left: 0;
			border-radius: 20px;
		}
	}

	.block_item_content {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}

.block_item {
	display: block;

	&:hover {
		.block_item_text span {
			color: $color_yellow;
		}
	}
}

.block_col {
	width: 25%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;
}

.block_item_link {
	position: relative;
	z-index: 1;
	margin-top: auto;
	background: #fff;
	margin-left: auto;
	padding: 10px 0 0 10px;
	border-radius: 5px 0 0 0;
}

.block_item_text {
	display: inline-block;
	background: #fff;
	padding: 10px 17px 19px 1px;
	font-weight: 500;
	line-height: 120%;
	border-radius: 0 0 10px 0;
	position: relative;
	z-index: 1;
	width: fit-content;
	margin: -3px 0 0 -1px;
	max-width: 95%;
	color: $color_black;

	span {
		display: block;
		font-size: 20px;
		line-height: 122%;
		font-weight: 700;
		margin-bottom: 10px;
		transition: $transition;
	}
}

.block_item_price {
	position: relative;
	z-index: 1;
	margin-top: auto;
	margin-left: auto;
	background: #fff;
	font-size: 20px;
	font-weight: 700;
	padding: 18px 13px 18px 25px;
	width: fit-content;
	border-radius: 5px 0 0 0;
	color: $color_black;
}

.block_item_bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
}

.catalog_list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;

	.catalog_item {
		width: 33.33%;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;
	}
}

@media screen and (max-width:1200px) {
	.catalog_list .catalog_item {
		width: 50%;
	}
}

@media screen and (max-width:1100px) {
	.catalog_list {
		margin-left: -10px;
		margin-right: -10px;

		.catalog_item {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

@media screen and (max-width:800px) {
	.catalog_list .catalog_item {
		width: 100%;
	}
}

.catalog_variants {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 20px;

	li {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;
	}
}

.catalog_variants_item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 18px 30px;
	border: 1px solid #44444444;
	border-radius: 5px;
	transition: $transition;
}

.catalog_filter {}

.catalog_filter_mobile {
	display: none;
}

.catalog_filter_list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 30px;
}

.catalog_filter_item {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	label {
		margin-bottom: 10px;
	}
}

.catalog_filter_select {
	width: 100%;
	padding: 15px 14px;
	min-width: 186px;
	border-radius: 5px;
	border: 1px solid #44444444;
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.2929 5.29289C12.6834 4.90237 13.3166 4.90237 13.7071 5.29289C14.0976 5.68342 14.0976 6.31658 13.7071 6.70711L8.70711 11.7071C8.31658 12.0976 7.68342 12.0976 7.29289 11.7071L2.29289 6.70711C1.90237 6.31658 1.90237 5.68342 2.29289 5.29289C2.68342 4.90237 3.31658 4.90237 3.70711 5.29289L8 9.58579L12.2929 5.29289Z' fill='%23222222'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 20px;
	background-position: center right 10px;
	background-size: 16px;
}

@media screen and (max-width:576px) {
	.catalog_variants {
		display: flex;
		flex-wrap: wrap;
		margin-left: -5px;
		margin-right: -5px;
		margin-bottom: 20px;

		li {
			padding-left: 5px;
			padding-right: 5px;
			margin-bottom: 10px;
		}
	}

	.catalog_variants_item {
		padding: 10px 16px;
	}

	.catalog_filter_mobile {
		margin-bottom: 20px;
		display: block;
	}

	.catalog_filter_title {
		cursor: pointer;
		font-size: 27px;
		line-height: 115%;
		font-weight: 700;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:after {
			content: '';
			display: block;
			position: relative;
			top: 0;
			right: 0;
			width: 25px;
			height: 25px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_111_2699)'%3e%3cpath d='M1.5 7.1249H5.604C5.92595 8.3095 6.62876 9.35524 7.60399 10.1008C8.57922 10.8464 9.77268 11.2503 11.0002 11.2503C12.2278 11.2503 13.4213 10.8464 14.3965 10.1008C15.3717 9.35524 16.0745 8.3095 16.3965 7.1249H34.5C34.8978 7.1249 35.2794 6.96686 35.5607 6.68556C35.842 6.40425 36 6.02272 36 5.6249C36 5.22708 35.842 4.84554 35.5607 4.56424C35.2794 4.28294 34.8978 4.1249 34.5 4.1249H16.3965C16.0745 2.9403 15.3717 1.89456 14.3965 1.149C13.4213 0.403448 12.2278 -0.000488281 11.0002 -0.000488281C9.77268 -0.000488281 8.57922 0.403448 7.60399 1.149C6.62876 1.89456 5.92595 2.9403 5.604 4.1249H1.5C1.10218 4.1249 0.720644 4.28294 0.43934 4.56424C0.158035 4.84554 0 5.22708 0 5.6249C0 6.02272 0.158035 6.40425 0.43934 6.68556C0.720644 6.96686 1.10218 7.1249 1.5 7.1249ZM10.9995 2.9999C11.5187 2.9999 12.0262 3.15385 12.4579 3.44229C12.8896 3.73073 13.226 4.1407 13.4247 4.62036C13.6234 5.10001 13.6753 5.62781 13.5741 6.13701C13.4728 6.64621 13.2228 7.11394 12.8557 7.48105C12.4885 7.84817 12.0208 8.09818 11.5116 8.19946C11.0024 8.30075 10.4746 8.24876 9.99496 8.05008C9.5153 7.8514 9.10533 7.51495 8.81689 7.08327C8.52845 6.65159 8.3745 6.14408 8.3745 5.6249C8.37529 4.92895 8.65211 4.26173 9.14422 3.76962C9.63633 3.27751 10.3036 3.00069 10.9995 2.9999Z' fill='%23FFC02D'/%3e%3cpath d='M34.5 16.4999H30.396C30.0746 15.315 29.3721 14.2689 28.3969 13.523C27.4218 12.7772 26.2282 12.373 25.0005 12.373C23.7728 12.373 22.5792 12.7772 21.6041 13.523C20.6289 14.2689 19.9264 15.315 19.605 16.4999H1.5C1.10218 16.4999 0.720644 16.6579 0.43934 16.9392C0.158035 17.2205 0 17.6021 0 17.9999C0 18.3977 0.158035 18.7793 0.43934 19.0606C0.720644 19.3419 1.10218 19.4999 1.5 19.4999H19.605C19.9264 20.6848 20.6289 21.7309 21.6041 22.4768C22.5792 23.2226 23.7728 23.6267 25.0005 23.6267C26.2282 23.6267 27.4218 23.2226 28.3969 22.4768C29.3721 21.7309 30.0746 20.6848 30.396 19.4999H34.5C34.8978 19.4999 35.2794 19.3419 35.5607 19.0606C35.842 18.7793 36 18.3977 36 17.9999C36 17.6021 35.842 17.2205 35.5607 16.9392C35.2794 16.6579 34.8978 16.4999 34.5 16.4999ZM25.0005 20.6249C24.4813 20.6249 23.9738 20.4709 23.5421 20.1825C23.1104 19.8941 22.774 19.4841 22.5753 19.0044C22.3766 18.5248 22.3247 17.997 22.4259 17.4878C22.5272 16.9786 22.7772 16.5109 23.1443 16.1437C23.5115 15.7766 23.9792 15.5266 24.4884 15.4253C24.9976 15.3241 25.5254 15.376 26.005 15.5747C26.4847 15.7734 26.8947 16.1098 27.1831 16.5415C27.4715 16.9732 27.6255 17.4807 27.6255 17.9999C27.6247 18.6958 27.3479 19.3631 26.8558 19.8552C26.3637 20.3473 25.6964 20.6241 25.0005 20.6249Z' fill='%23FFC02D'/%3e%3cpath d='M34.5 28.8749H16.3965C16.0745 27.6903 15.3717 26.6446 14.3965 25.899C13.4213 25.1534 12.2278 24.7495 11.0002 24.7495C9.77268 24.7495 8.57922 25.1534 7.60399 25.899C6.62876 26.6446 5.92595 27.6903 5.604 28.8749H1.5C1.10218 28.8749 0.720644 29.0329 0.43934 29.3142C0.158035 29.5955 0 29.9771 0 30.3749C0 30.7727 0.158035 31.1543 0.43934 31.4356C0.720644 31.7169 1.10218 31.8749 1.5 31.8749H5.604C5.92595 33.0595 6.62876 34.1052 7.60399 34.8508C8.57922 35.5964 9.77268 36.0003 11.0002 36.0003C12.2278 36.0003 13.4213 35.5964 14.3965 34.8508C15.3717 34.1052 16.0745 33.0595 16.3965 31.8749H34.5C34.8978 31.8749 35.2794 31.7169 35.5607 31.4356C35.842 31.1543 36 30.7727 36 30.3749C36 29.9771 35.842 29.5955 35.5607 29.3142C35.2794 29.0329 34.8978 28.8749 34.5 28.8749ZM10.9995 32.9999C10.4803 32.9999 9.97281 32.8459 9.54113 32.5575C9.10945 32.2691 8.773 31.8591 8.57432 31.3794C8.37564 30.8998 8.32365 30.372 8.42494 29.8628C8.52623 29.3536 8.77623 28.8859 9.14334 28.5187C9.51046 28.1516 9.97819 27.9016 10.4874 27.8003C10.9966 27.6991 11.5244 27.751 12.004 27.9497C12.4837 28.1484 12.8937 28.4848 13.1821 28.9165C13.4705 29.3482 13.6245 29.8557 13.6245 30.3749C13.6233 31.0707 13.3464 31.7377 12.8543 32.2297C12.3623 32.7218 11.6953 32.9987 10.9995 32.9999Z' fill='%23FFC02D'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_111_2699'%3e%3crect width='36' height='36' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
			background-size: contain;
		}
	}

	.catalog_filter {
		margin-bottom: 40px;

		&.active {
			.catalog_filter_list {
				display: flex;
			}
		}
	}

	.page_catalog {
		h1 {
			display: none;
		}
	}

	.catalog_filter_list {
		margin-left: -5px;
		display: none;
		margin-right: -5px;
	}

	.catalog_filter_item {
		width: 50%;
		margin-bottom: 10px;
		padding-left: 5px;
		padding-right: 5px;

		label {
			margin-bottom: 5px;
			font-size: 14px;
		}
	}

	.catalog_filter_select {
		width: 100%;
		padding: 10px 13px;
		min-width: 100%;
	}
}

@media screen and (max-width:440px) {
	.catalog_variants {
		flex-direction: column;
		margin-bottom: 30px;

		li {
			padding: 0;
			margin-bottom: 0;

			&:first-child .catalog_variants_item {
				border-radius: 5px 5px 0 0;
			}

			&:last-child .catalog_variants_item {
				border-radius: 0 0 5px 5px;
			}

		}
	}

	.catalog_variants_item {
		padding-top: 14px;
		padding-bottom: 14px;
		border-radius: 0;
	}
}

.slider_block {
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;

	.swiper-slide {
		width: 534px;
	}

	.swiper {
		padding-bottom: 60px;
	}

	.swiper-container-horizontal>.swiper-scrollbar {
		left: 0;
		bottom: 3px;
		background: #B9B9B9;
		border-radius: 5px;
		width: 580px;
		height: 1px;
		display: flex;
		align-items: center;
	}

	.swiper-scrollbar-drag {
		height: 5px;
		border-radius: 6px;
		background: $color_yellow;
	}
}

.swiper {
	position: relative;
}

.about {
	text-align: center;
}

.about_text {
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 18px;
}

.about_advantages {
	background: $color_grey;
	padding: 90px 0 60px;
}

.about_list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.about_col {
	width: 20%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.about_item {
	height: 100%;
}

.about_item_img {
	margin-bottom: 29px;
}

.about_item_title {
	font-size: 18px;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 32px;
	min-height: 44px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 250px;
}

.certificates_list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	// gap: 40px;
	justify-content: space-between;
	max-width: 1470px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.certificates_item {
	width: 33.33%;
	padding: 0 20px;
}

.partners_list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	// gap: 40px;
	margin-top: 30px;
}

.partners_item {
	width: 25%;
	padding-left: 20px;
	padding-right: 20px;
}

.contacts {
	position: relative;
	margin-top: 134px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		height: 84%;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../imgs/contacts_back.png);
		z-index: -1;

	}

	.container {
		display: flex;
		align-items: center;
		max-width: 1700px;
	}

}

.contacts_map {
	width: 65%;

	iframe {
		width: 100%;
		height: 900px;
	}
}

.contacts_info {
	width: 35%;
	padding: 30px 30px 30px 80px;

}

.contacts_text {
	margin-bottom: 20px;
}

.contacts_form {
	.btn {
		font-weight: 700;
	}
}

.footer {
	padding-top: 110px;
	padding-bottom: 33px;
}

.footer_block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 45px;

	a {
		text-decoration-line: underline;

		&:not(:last-of-type) {
			margin-bottom: 20px;
		}
	}

	a,
	span {
		display: block;
	}
}

.footer_block_title {
	line-height: 30px;
	font-weight: 700;
}

.footer_block_right {
	text-align: right;

	a:not(:last-of-type) {
		margin-bottom: 10px;
	}
}

.footer_text {
	margin-top: 16px;
	text-align: center;
}

.fix_btns {
	position: fixed;
	bottom: 188px;
	right: 65px;
	z-index: 20;
}

.fix_btns_item {
	width: 66px;
	height: 66px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;


	&:not(:first-child) {
		margin-top: 25px;
	}

	&:first-child {

		.fix_btns_item_anim {
			animation-delay: 3s;
		}

		.fix_btns_item_anim_1 {
			border: 1px solid $color_yellow;
		}

		.fix_btns_item_anim_2 {
			background-color: $color_yellow;
		}

		.fix_btns_item_bg {
			background-color: $color_yellow;
		}

		img {
			animation-delay: 3s;

		}
	}

	&:last-child {
		.fix_btns_item_anim_1 {
			border: 1px solid $color_green;
		}

		.fix_btns_item_anim_2 {
			background-color: $color_green;
		}

		.fix_btns_item_bg {
			background-color: $color_green;
		}

	}

	img {
		position: relative;
		z-index: 1;
		animation: animImg 6.6s ease-in-out infinite;

	}
}

.fix_btns_item_bg {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	position: absolute;
}

.fix_btns_item_anim {
	pointer-events: none;
	position: absolute;
	border-radius: 100%;
	opacity: 0;
	top: 50%;
	left: 50%;

	&_1 {
		height: 110px;
		width: 110px;
		margin-top: -55px;
		margin-left: -55px;
		animation: animBorder 6s ease-out infinite;

	}

	&_2 {
		animation: animBg 6s ease-in infinite;
		height: 70px;
		width: 70px;
		margin-top: -35px;
		margin-left: -35px;
		box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09), 0 2px 14px rgba(0, 0, 0, 0.19);
	}
}

@keyframes animImg {

	0%,
	9%,
	100% {
		transform: translate3d(0, 0, 0);
	}

	3%,
	5%,
	7% {
		transform: translate3d(-2px, 0, 0);
	}

	4%,
	6%,
	8% {
		transform: translate3d(2px, 0, 0);
	}
}

@keyframes animBorder {

	0%,
	33.33% {
		transform: scale3d(0.4, 0.4, 0.4);
		opacity: 0.75;
	}

	66.67%,
	100% {
		transform: scale3d(1, 1, 1);
		opacity: 0;
	}
}

@keyframes animBg {

	0% {
		transform: scale(0.7);
		opacity: 0;
	}

	50% {
		transform: scale(1.1);
		opacity: 0.5;
	}

	75%,
	100% {
		transform: scale(0.7);
		opacity: 0;
	}
}


.mobile_menu_btn,
.mobile_menu_close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	cursor: pointer;


	span {
		width: 20px;
		height: 2px;
		background: $color_black;
		position: relative;
		display: flex;
		transition: $transition;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 2px;
			transition: $transition;
			background: $color_black;
		}

		&:before {
			top: -7px;
		}

		&:after {
			top: 7px;
		}
	}
}

.mobile_menu_btn {
	display: none;
	margin-left: 30px;
}

.mobile_menu_close {
	position: absolute;
	margin-left: auto;
	right: 32px;
	top: 32px;

	span {
		background: transparent;

		&:before {
			top: 0;
			transform: rotate(45deg);
		}

		&:after {
			top: 0;
			transform: rotate(-45deg);
		}
	}
}

.mobile_menu {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: rgb(45 45 45 / 60%);
	align-items: flex-start;
	justify-content: flex-end;

	&.active {
		display: flex;
	}
}

.mobile_menu_block {
	background: #fff;
	max-width: 320px;
	width: 100%;
	height: 100%;
	padding: 70px 15px 40px;
	overflow-y: auto;

	.menu {
		flex-direction: column;
		align-items: flex-start;

		li {
			width: 100%;
		}

		a {
			width: 100%;
		}
	}

	.header_link {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 20px;

		a {
			margin-left: 14px;

			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 20px;

			}

		}
	}
}

@media screen and (max-width:1900px) {
	.fix_btns {
		right: 20px;
		bottom: 40px;
	}
}

@media screen and (max-width:1600px) {
	.page_home .header {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media screen and (max-width:1300px) {
	.contacts_map iframe {
		height: 700px;
	}

	.contacts_info {
		padding-left: 60px;
		padding-right: 0;
	}

	.page_home .logo {
		width: 80px;
	}

	.menu a {
		padding-left: 19px;
		padding-right: 19px;
	}
}

@media screen and (max-width:1200px) {
	.menu a {
		padding-left: 14px;
		padding-right: 14px;
	}

	.page_home .header_link {
		font-size: 15px;

		a:not(:last-child) {
			margin-right: 20px;
		}
	}

	.page_home h1 {
		font-size: 50px;
	}

	.home_calc_title {
		font-size: 33px;
	}

	h1,
	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 32px;
	}

	h4 {
		font-size: 25px;
	}

	.slider_block .swiper-slide {
		width: 494px;
	}

	.fix_btns_item {
		width: 50px;
		height: 50px;
	}

	.fix_btns_item_anim {
		&_1 {
			height: 90px;
			width: 90px;
			margin-top: -45px;
			margin-left: -45px;

		}

		&_2 {
			height: 60px;
			width: 60px;
			margin-top: -30px;
			margin-left: -30px;
		}
	}


	.fix_btns {
		right: 10px;
		bottom: 20px;
	}

	.fix_btns_item:not(:first-child) {
		margin-top: 10px;
	}
}

@media screen and (max-width:1100px) {
	.mobile_menu_btn {
		display: flex;
	}

	body:not(.page_home) {
		.mobile_menu_btn {
			transition: $transition;

			&.fix {
				position: fixed;
				top: 0;
				right: 0;
				background: #fff;
				z-index: 100;
			}
		}

		.mobile_menu_close {
			&.fix {
				top: 0;
				right: 0;
			}
		}
	}

	.header {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.logo {
		height: 66px;
		width: 80px;
	}

	.header_row {

		.menu_wrapper,
		.header_link {
			display: none;
		}
	}

	.page_home .header_link_mobile {
		color: #fff;
		font-weight: 600;
	}

	.header_link_mobile {
		display: block;
		text-decoration-line: underline;
		line-height: 115%;
		margin-left: auto;
		font-size: 15px;
	}

	.home_info {
		flex-direction: column;
	}

	.home_info_left {
		padding-top: 0;
		padding-bottom: 30px;
	}

	.home_calc {
		margin: 0 auto;
	}

	.block_col {
		width: 50%;
	}

	.slider_block .swiper-slide {
		width: 441px;
	}

	.about_advantages {
		padding: 60px 0 20px;
	}

	.about_list {
		justify-content: center;
	}

	.about_col {
		width: 33.33%;
		margin-bottom: 40px;
	}
}

@media screen and (max-width:992px) {

	h1,
	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 25px;
		margin-bottom: 20px;
	}

	h4 {
		font-size: 22px;
	}

	.block_list {
		margin-left: -10px;
		margin-right: -10px;
	}

	.block_col {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;
	}

	.page_home .home_block {
		margin-bottom: 60px;
	}

	.partners_item,
	.certificates_item {
		padding-left: 10px;
		padding-right: 10px;
	}

	.partners_list,
	.certificates_list {
		margin-left: -10px;
		margin-right: -10px;
	}

	.contacts {
		padding-bottom: 40px;

		&:before {
			transform: none;
			top: initial;
			bottom: 0;
			height: 100%;
			background-position: center bottom;
		}

		.container {
			flex-direction: column;
		}
	}

	.contacts_map {
		width: 100%;

		iframe {
			height: 450px;
		}
	}

	.contacts_info {
		padding-left: 0;
		width: 100%;
		padding-top: 40px;
		padding-bottom: 0;
	}

	.mb-10 {
		margin-bottom: 80px;
	}
}

@media screen and (max-width:767px) {
	body.page_home {
		.mobile_menu_close {
			margin-right: 0;
		}
	}

	body:not(.page_home) {
		.mobile_menu_close {
			right: 16px;
		}
	}
}

@media screen and (max-width:768px) {

	h1,
	h2 {
		font-size: 27px;
	}

	h3 {
		font-size: 23px;
	}

	h4 {
		font-size: 20px;
	}

	.slider_block .swiper-container-horizontal>.swiper-scrollbar {
		width: 80%;
	}

	.about_col {
		width: 50%;
	}

	.contacts {
		margin-top: 90px;
	}

	.partners_item {
		width: 50%;
	}

	.about_item_title {
		max-width: initial;
		margin-bottom: 20px;
	}

	.about_item_img {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

	.home_calc .form_input_wrapper {
		max-width: 190px;
	}
}

@media screen and (min-width:577px) {
	.catalog_item {
		.block_item_content {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		.block_item {
			height: 0;
			overflow: hidden;
			padding-bottom: clamp(194px, 55%, 400px);
			position: relative;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				top: 0;
				left: 0;
				border-radius: 25px
			}
		}
	}
}

@media screen and (max-width:576px) {
	.block_col {
		width: 100%;
	}

	.block_list .block_item {
		padding-bottom: clamp(194px, 36%, 400px);
	}

	.about_text {
		margin-bottom: 60px;
	}

	.title_wrapper {
		flex-direction: column;
		align-items: flex-start;
	}

	.mb-4 {
		margin-bottom: 30px;
	}

	.mb-8 {
		margin-bottom: 60px;
	}

	.mb-10 {
		margin-bottom: 60px;
	}

	.slider_block {
		.swiper {
			padding-bottom: 30px;
		}

		.swiper-slide {
			width: 100%;
		}
	}

	.page_home h1 {
		font-size: 37px;
	}

	.home_calc_title {
		font-size: 26px;
	}

	.home_calc {
		padding-left: 30px;
		padding-right: 30px;
	}

	.block_item_text span {
		font-size: 17px;
	}

	.about_text {
		font-size: 16px;
	}

	.about_col {
		width: 100%;
	}

	.about_item_title {
		min-height: initial;
	}

	.certificates_list {
		justify-content: center;
	}

	.certificates_item {
		width: 50%;
	}

	.footer_block {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.footer_block_right {
		text-align: center;
		margin-top: 10px;
	}

	.footer {
		padding-top: 60px;
	}

	.home_calc .form_input_caption {
		font-size: 16px;
	}

	.form_input {
		font-size: 16px;
	}

	.home_calc .form_input_wrapper {
		max-width: 175px;
	}

	.home_calc_list_price {
		font-size: 17px;
	}

	.home_info_left .btn {
		width: 100%;

		&:not(:last-of-type) {
			margin-right: 0;
		}
	}

	.btn_big {
		padding: 20px;

	}

	.block_item_bottom {
		margin-top: 20px;
	}

	.catalog_item {
		.block_item img {
			border-radius: 15px;
		}

		.block_item_text {
			max-width: 100%;
			background: transparent;
			width: 100%;
			border-radius: 0;
			margin: 0;
			padding: 0;
			padding-bottom: 20px;
		}

		.block_item img {
			position: relative;
		}

		.block_item_price {
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: 18px;
			padding: 13px 13px 13px 18px;
		}

		.block_item_content {
			position: relative;
		}
	}

	.contacts {
		margin-top: 50px;
	}
}


@media screen and (max-width:440px) {
	.mobile_menu_btn {
		margin-left: 15px;
	}

	body:not(.page_home) {
		.mobile_menu_close {
			top: 23px;
		}
	}

	.fix_btns_item {
		img {
			width: 25px;
		}

		&:first-child {
			img {
				width: 20px;
			}
		}
	}

	.fix_btns_item_anim {
		&_1 {
			height: 80px;
			width: 80px;
			margin-top: -40px;
			margin-left: -40px;

		}

		&_2 {
			height: 50px;
			width: 50px;
			margin-top: -25px;
			margin-left: -25px;
		}
	}

	.page_home .header {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.page_home .mobile_menu_block {
		padding-top: 23px;

	}

	.about_item_img {
		max-width: 40%;
		margin-bottom: 10px;
	}

	.page_home h1 {
		font-size: 31px;
	}

	.header {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.home_info {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.home_calc_title {
		font-size: 20px;
	}

	.home_calc {
		.form_input_caption {
			margin-bottom: 10px;
			padding-right: 0;
		}

		.form_input_group {
			flex-direction: column;
			align-items: flex-start;
		}

		.form_input_wrapper {
			max-width: 100%;
		}
	}

	.home_calc_list {
		li {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.home_calc_list_title {
		padding-right: 0;
		max-width: 100%;
		padding-bottom: 10px;
	}

	.form_agreement {
		max-width: 100%;
	}

	h1,
	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 22px;
	}

	h4 {
		font-size: 19px;
	}

	.subtitle {
		font-size: 16px;
	}

}

@media screen and (max-width:350px) {
	.header_link_mobile {
		font-size: 14px;
	}
}

.services_list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -28px;
	margin-right: -28px;
	padding-top: 15px;

	&_col-3 {
		.services_col {
			width: 33.33%;
		}

		.services_item_img {
			padding-bottom: 38.8%
		}
	}
}

@media screen and (max-width:1100px) {
	.services_list_col-3 .services_col {
		width: 50%;
	}
}

@media screen and (max-width:680px) {
	.services_list_col-3 .services_col {
		width: 100%;
	}
}

.services_col {
	padding-left: 28px;
	padding-right: 28px;
	width: 25%;
	margin-bottom: 40px;
}

.services_item {
	height: 100%;
}

.services_item_img {
	border-radius: 20px;
	overflow: hidden;
	height: 0;
	position: relative;
	padding-bottom: 56.25%;

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.services_item_bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 25px;
}

.services_item_text {
	font-size: 18px;
	line-height: 130%;
	padding-right: 15px;
	font-weight: 500;
}

@media screen and (max-width:1440px) {
	.services_list {
		margin-left: -20px;
		margin-right: -20px;
	}

	.services_col {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width:1300px) {
	.services_col {
		width: 50%;
	}
}

@media screen and (max-width:768px) {
	.services_list {
		margin-left: -10px;
		margin-right: -10px;
		padding-top: 0;
	}

	.services_col {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width:680px) {
	.services_col {
		width: 100%;
	}
}

@media screen and (max-width:576px) {
	.services_item_text {
		font-size: 15px;
	}
}

.product_block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}

.product_block_left {
	width: 53%;
	padding-right: 70px;
	display: flex;
	flex-direction: column;

	h1 {
		margin-bottom: 40px;
	}
}

.product_block_right {
	width: 47%;
}

.product_block_text {
	margin-bottom: 30px;
	font-size: 18px;
}

.product_block_price {
	font-size: 35px;
	font-weight: 700;
	line-height: 157.714%;
	margin-bottom: 20px;
	margin-top: auto;

}

.product_block_left_btns {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -25px;

	.btn {
		margin-right: 25px;
		margin-bottom: 25px;
	}
}

.gallery_big {
	margin-bottom: 30px;
	width: 100%;
	overflow: hidden;
	border-radius: 20px;
}

.gallery_big_img {
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 63%;
	border-radius: 20px;

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;

	}
}

.gallery_small {
	width: 100%;
	overflow: hidden;
	border-radius: 15px;

	.swiper-slide {
		filter: grayscale(1);

		&.swiper-slide-thumb-active {
			filter: grayscale(0);

		}
	}
}

.gallery_small_img {
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56%;
	border-radius: 15px;

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.gallery_big_wrapper {
	position: relative;
}

.gallery_big_label {
	padding: 0 0 13px 13px;
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;

	border-bottom-left-radius: 10px;

	span {
		border: none;
		background: $color_green;
		cursor: auto;
		color: #fff;
		text-transform: uppercase;
		pointer-events: none;
	}
}

.swiper-button-next,
.swiper-button-prev {
	width: 40px;
	height: 40px;

	svg {
		width: 34px;
		height: 34px;
	}

	&:after {
		display: none;
	}
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	right: 25px;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	left: 25px;
}

@media screen and (max-width:1300px) {
	.product_block_left {
		padding-right: 30px;
	}

	.swiper-button-next,
	.swiper-container-rtl .swiper-button-prev {
		right: 10px;
	}

	.swiper-button-prev,
	.swiper-container-rtl .swiper-button-next {
		left: 10px;
	}

	.gallery_big_label span {
		padding: 10px;
		font-size: 15px;
		text-transform: inherit;
	}

	.product_block {
		margin-bottom: 100px;
	}
}

@media screen and (max-width:1100px) {
	.product_block {
		flex-direction: column;
	}

	.product_block_left {
		padding-right: 0;
		width: 100%;
		margin-bottom: 40px;
	}

	.product_block_right {
		width: 100%;
	}
}

@media screen and (max-width:992px) {
	.product_block {
		margin-bottom: 60px;
	}
}

@media screen and (max-width:576px) {
	.product_block_text {
		margin-bottom: 20px;
		font-size: 16px;
	}

	.product_block_price {
		font-size: 26px;
	}

	.product_block_left h1 {
		margin-bottom: 30px;
	}

	.product_block {
		margin-bottom: 40px;
	}
}

@media screen and (max-width:440px) {
	.gallery_big_label {
		padding: 0 0 10px 10px;
		border-bottom-left-radius: 5px;

		span {
			padding: 7px 10px;
			font-size: 13px;
		}
	}

	.product_block_left_btns {
		flex-direction: column;
		margin-bottom: 0;

		.btn {
			margin-right: 0;
			width: 100%;
			margin-bottom: 20px;
		}
	}

	.product_block_left {
		margin-bottom: 30px;
	}

	.gallery_big {
		margin-bottom: 15px;
	}

	.gallery_big,
	.gallery_big_img {
		border-radius: 10px;
	}

	.gallery_small,
	.gallery_small_img {
		border-radius: 5px;
	}

	.swiper-button-next svg,
	.swiper-button-prev svg {
		width: 25px;
		height: 25px;
	}
}

.tabs_content_item_btn {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.tabs_content {
	margin-bottom: 100px;
}

.tabs_list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 50px;
}

.tabs_item {
	padding: 10px;
	font-size: 20px;
	font-weight: 500;
	line-height: 92%;
	white-space: nowrap;

	&:not(:last-child) {
		margin-right: 50px;
	}

	&.active {
		color: $color_yellow;

		text-decoration-line: underline;
	}
}

.list_item {
	border-bottom: 2px solid #EDEDED;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.list_item_title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 30px;
}

.list_item_text {
	font-size: 18px;
}

@media screen and (max-width:992px) {
	.tabs_content {
		margin-bottom: 60px;
	}

}

@media screen and (max-width:767px) {
	.tabs_list {
		margin-left: -16px;
		margin-right: -16px;
		flex-wrap: nowrap;
		scrollbar-width: none;
		margin-bottom: 20px;

		&::-webkit-scrollbar {
			display: none;
		}

		overflow-x: auto;
	}

	.tabs_item {
		padding: 20px 16px;
		font-size: 18px;

		&:not(:last-child) {
			margin-right: 0;
		}
	}
}

@media screen and (max-width:576px) {
	.tabs_item {
		font-size: 16px;
	}

	.list_item_text {
		font-size: 16px;
	}

	.list_item {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.list_item_title {
		font-size: 18px;
		margin-bottom: 20px;
	}

}

.news_list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -22.5px;
	margin-right: -22.5px;
}

.news_col {
	padding-left: 22.5px;
	padding-right: 22.5px;
	width: 25%;
	margin-bottom: 40px;
}

.news_item {
	height: 100%;
	display: flex;
	flex-direction: column;

	.link {
		font-size: 14px;
		margin-top: auto;
		width: fit-content;
	}
}

.news_item_img {
	overflow: hidden;
	height: 0;
	position: relative;
	padding-bottom: 52.25%;
	margin-bottom: 20px;

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 15px;

	}

	.date {
		font-size: 18px;
		color: $color_yellow;
		font-weight: 600;
		padding: 11px 2px 11px 17px;
		background: #fff;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
		border-top-left-radius: 15px;
	}
}

.news_item_title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	color: $color_black;
}

.news_item_text {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 28px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 45px;
	color: $color_black;
}

@media screen and (max-width:1200px) {
	.news_item_img {
		.date {
			font-size: 16px;
		}
	}

	.news_list {
		margin-left: -20px;
		margin-right: -20px;
	}

	.news_col {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width:1100px) {
	.news_col {
		width: 50%;
	}
}

@media screen and (max-width:992px) {
	.news_list {
		margin-left: -10px;
		margin-right: -10px;
	}

	.news_col {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 30px;
	}

	.news_item_text {
		margin-bottom: 10px;
	}
}

@media screen and (max-width:576px) {
	.news_col {
		width: 100%;
	}

	.news_item_img {
		.date {
			font-size: 14px;
			padding: 7px 2px 7px 9px;
			border-top-left-radius: 5px;
		}
	}
}

.tabs_content_table {
	display: flex;
	flex-wrap: wrap;
	margin-left: -50px;
	margin-right: -50px;
	align-items: flex-start;

	table {
		width: 50% !important;
		padding-left: 50px;
		padding-right: 50px;
		margin-bottom: 100px;

		thead {
			th {
				padding-bottom: 25px;
				font-size: 20px;
				color: $color_yellow;
				font-weight: 600;
				text-align: left;
				height: 50px;
			}
		}
	}

	tbody {
		td {
			padding-bottom: 15px;
			padding-top: 15px;
			border-bottom: 1px solid #EDEDED;
			font-size: 16px;
			font-weight: 400;
			line-height: 115%;

			&:first-child {
				font-weight: 600;
				padding-right: 15px;
			}

			&:last-child {
				text-align: right;
			}
		}
	}
}

@media screen and (max-width:1700px) {
	.tabs_content_table {
		margin-left: -20px;
		margin-right: -20px;

		table {
			margin-bottom: 80px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

@media screen and (max-width:992px) {
	.tabs_content_table {
		flex-direction: column;
	}

	.tabs_content_table {
		margin-left: 0;
		margin-right: 0;

		table {
			width: 100% !important;
			margin-bottom: 60px;
			padding-left: 0;
			padding-right: 0;

			thead {
				th {
					height: auto;
					font-size: 16px;
				}
			}
		}
	}

	.tabs_content_item {
		&#tabsShop2 .tabs_content_table {
			table {
				margin-bottom: 0;

				&:last-child {
					thead {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width:576px) {
	.tabs_content_table {

		table {
			margin-bottom: 40px;

			thead {
				th {
					font-size: 16px;
					padding-bottom: 10px;
				}
			}
		}
	}
}

.img_length {
	height: 0;
	padding-bottom: clamp(200px, 50%, 285px);
	overflow: hidden;
	position: relative;
	margin-bottom: 60px;

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.content {
	margin-bottom: 100px;

	h3 {
		margin-bottom: 26px;
		line-height: 140%;
	}

	p {
		font-size: 18px;
	}
}

@media screen and (min-width:993px) {
	.content_block {

		&_left {
			.block_item_one {
				float: left;
				margin-right: 40px;
			}
		}

		&_right {
			.block_item_one {
				float: right;
				margin-left: 40px;
			}
		}

		.block_item_one {
			margin-bottom: 30px;
		}
	}

}

.content_block {
	margin-bottom: 70px;
}

.content_top {
	margin-bottom: 70px;
}

.block_item_one {
	width: 100%;
	max-width: 472px;

	.block_item {

		height: 0;
		overflow: hidden;
		padding-bottom: clamp(194px, 55%, 400px);
		position: relative;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			top: 0;
			left: 0;
			border-radius: 20px;
		}
	}

	.block_item_content {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width:992px) {
	.content_block {
		display: flex;
		flex-direction: column;

		.block_item_one {
			order: 1;
			margin-top: 30px;
		}
	}
}

@media screen and (max-width:768px) {
	.content_block {
		margin-bottom: 50px;
	}

	.content_top {
		margin-bottom: 50px;
	}

	.content {
		p {
			font-size: 16px;
		}
	}

}